.nav {
  display: flex;
  flex-direction: column; /* vertical stacking */
  align-items: flex-start; /* left align */
  padding: 10px 20px;
  
}

.nav-links {
  display: flex; 
  margin-top: 5px; 
}

.nav-links a {
  margin-right: 15px;
  text-decoration: none;
}

.nav-links a.active {
  font-weight: bold;
  color: blue;
}
